In [ ]:
! pip install yfinance --upgrade --no-cache-dir

In [ ]:
import yfinance as yf
msft = yf.Ticker("MSFT")
print(msft.info)

In [ ]:
! pip install yahoo_fin

In [8]:
from yahoo_fin.stock_info import get_data

In [13]:
amazon_weekly= get_data("amzn", start_date="05/5/2021", end_date="05/11/2021", index_as_date = True, interval="1d")
amazon_weekly

,open,high,low,close,adjclose,volume,ticker
2021-05-05,3338.860107,3354.699951,3264.360107,3270.540039,3270.540039,3711300,AMZN
2021-05-06,3270.000000,3314.399902,3247.199951,3306.370117,3306.370117,4447700,AMZN
2021-05-07,3319.090088,3330.889893,3289.070068,3291.610107,3291.610107,4706800,AMZN
2021-05-10,3282.320068,3283.000000,3190.000000,3190.489990,3190.489990,5830400,AMZN

In [23]:
ticker_list = ["amzn", "aapl", "ba", "fb"]
historical_datas = {}
for ticker in ticker_list:
    historical_datas[ticker] = get_data(ticker, start_date="05/5/2021", end_date="05/11/2021", index_as_date = True, interval="1d")
    print(historical_datas[ticker])

                   open         high          low        close     adjclose  \
2021-05-05  3338.860107  3354.699951  3264.360107  3270.540039  3270.540039
2021-05-06  3270.000000  3314.399902  3247.199951  3306.370117  3306.370117
2021-05-07  3319.090088  3330.889893  3289.070068  3291.610107  3291.610107
2021-05-10  3282.320068  3283.000000  3190.000000  3190.489990  3190.489990

             volume ticker
2021-05-05  3711300   AMZN
2021-05-06  4447700   AMZN
2021-05-07  4706800   AMZN
2021-05-10  5830400   AMZN
                  open        high         low       close    adjclose  \
2021-05-05  129.199997  130.449997  127.970001  128.100006  127.882790
2021-05-06  127.889999  129.750000  127.129997  129.740005  129.520004
2021-05-07  130.850006  131.259995  129.479996  130.210007  130.210007
2021-05-10  129.410004  129.539993  126.809998  126.849998  126.849998

              volume ticker
2021-05-05  84000900   AAPL
2021-05-06  78128300   AAPL
2021-05-07  78892700   AAPL
2021-05-10  87808400   AAPL
                  open        high         low       close    adjclose  \
2021-05-05  232.449997  232.449997  227.559998  228.179993  228.179993
2021-05-06  229.300003  231.169998  226.550003  229.809998  229.809998
2021-05-07  229.800003  235.910004  227.990005  235.470001  235.470001
2021-05-10  236.839996  241.100006  232.500000  232.929993  232.929993

              volume ticker
2021-05-05   8538800     BA
2021-05-06  11857100     BA
2021-05-07  12814100     BA
2021-05-10  14797500     BA
                  open        high         low       close    adjclose  \
2021-05-05  318.190002  321.059998  314.489990  315.019989  315.019989
2021-05-06  314.519989  320.239990  313.269989  320.019989  320.019989
2021-05-07  322.380005  322.940002  318.750000  319.079987  319.079987
2021-05-10  314.350006  314.579987  304.829987  305.970001  305.970001

              volume ticker
2021-05-05  15577600     FB
2021-05-06  19012200     FB
2021-05-07  15912800     FB
2021-05-10  24197200     FB